@media screen and (max-width:700px){
	.nav {
	  width: 300px;
	  position:absolute;
	  -webkit-transform: translate(-300px, 0);
	  transform: translate(-300px, 0);
	  transition: transform 0.3s ease;
	}

	.nav.open {
	  -webkit-transform: translate(0, 0);
	  transform: translate(0, 0);
	}

	.nav__list {
	  width: 100%;
	  padding: 0;
	  margin: 0;
	}

	.nav__item {
	  box-sizing: border-box;
	  display: block;
	  text-align: center;
	  line-height: 24px;
	  padding: 24px;
	  text-transform: uppercase;
	}

	.nav a {
	  text-decoration: none;
	  color: #616161;
	  padding: 1.5em  1.5em 1.5em 0;
	  }

	.nav a:hover {
	  text-decoration: underline;
	  color: #212121;
	}
  .header__logo {
  height: 42px;
  margin-top: 0;
 }

 .header__title {
  font-weight: 500;
  font-size: 2em;
  margin: 0;
  vertical-align: bottom;
 }

 .header__inner {
 	padding: 0.5em;
 }

   .nav {
    z-index: 10000;
    background-color: #fff;
    width: 300px;
    position: absolute;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }

  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }

  .header__menu {
  	display: inline-block;
    position: absolute;
    right: 0.5em;
    top: 0.25em;
    font-size: 3em;
    color: lightgray;
  }

}


@media screen and (min-width:701px){
	.hero, .top-news{
		width: 50%;
		z-index: 100;
	}

	.scores {
		width: 60%;
	}

	.weather{
		width: 40%;
	}

}

@media screen and (min-width:960px){
	main {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

	.nav {
		max-width: 960px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	}

}

